<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Split Decision</title>
</head>

<body>
  <h1>Matches for {{base_title}}: {{title_tag_line}}</h1>
  <ol>
    {{#each matches}}
      <li><a href="/score-match?match_id={{match_id}}">{{fighter1_first_name}} {{fighter1_last_name}} vs {{fighter2_first_name}} {{fighter2_last_name}}</a></li>
    {{/each}}
  </ol>
</body>

</html>
