<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
    <title>Split Decision</title>
  </head>
  <body>
    <button class="timer-button">Start</button>
    <div>
      <h2>{{fighter1_first_name}} {{fighter1_last_name}}</h2>
      <img src="{{fighter1_full_body_image}}">
      <h2 class="left">0</h2>
      <h2>{{fighter2_first_name}} {{fighter2_last_name}}</h2>
      <img src="{{fighter2_full_body_image}}">
      <h2 class="right">0</h2>
      <h4 class="swipe-time"></h4>
    </div>
  </body>
</html>
